body {
  background-color: #FAB974;
  overflow-y: auto;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  display: none;
}

@font-face {
  font-family: "Rajdhandi-Light"; /*Can be any text*/
  src: local("Rajdhandi-Light"),
    url("./Fonts/Rajdhani/Rajdhani-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Rajdhandi-Regular"; /*Can be any text*/
  src: local("Rajdhandi-Regular"),
    url("./Fonts/Rajdhani/Rajdhani-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Rajdhandi-Bold"; /*Can be any text*/
  src: local("Rajdhandi-Bold"),
    url("./Fonts/Rajdhani/Rajdhani-Bold.ttf") format("truetype");
}


@font-face {
  font-family: "Comfortaa";
  src: url("./Fonts/Comfortaa/static/Comfortaa-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Comfortaa";
  src: url("./Fonts/Comfortaa/static/Comfortaa-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Comfortaa";
  src: url("./Fonts/Comfortaa/static/Comfortaa-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Comfortaa";
  src: url("./Fonts/Comfortaa/static/Comfortaa-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}




.btn {
  font-family: "Rajdhandi-Light";
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn-edit-bug {
  outline: solid;
  outline: rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0);
  background: transparent;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  width: 2vw;
}

.btn-primary {
  color: #fff;
  background-color: #212529;
  border-color: white;
  font-family: Rajdhandi-Regular;
  bottom: 30px;
}

.btn-add-bug {
  left: 10px;
  top: 93vh;
  position: sticky;
}

.add-bug-popup {
  position: fixed; /* position the popup in the center of the screen */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  box-shadow: 0px 0px 100vw #ccc;
  z-index: 100; /* make sure the popup is above other elements */
}



.add-bug-popup input,
.add-bug-popup textarea {
  width: 100%;
  padding: 12px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
}

.add-bug-popup label {
  font-weight: Rajdhandi-Bold;
  margin-bottom: 8px;
  display: block;
}

.add-bug-popup .btn {
  width: 100%;
  padding: 12px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

.add-bug-popup .btn:hover {
  background-color: #3e8e41;
}

.table-title {
  font-family: "Rajdhandi-Bold";
  position: sticky;
  width: 100vw;
  height: 50px;
  box-shadow: #212529;
}

.table {
  position: absolute;
  font-family: Rajdhandi-Regular;
  table-layout: fixed;
  border: 0px solid black;
  box-shadow: 100px 0px 100vw #ccc;
  width: 150vw;
  padding-left: 1vw;
  background-color: rgba(255, 255, 255, 0.2);
  top: 10vh;
  z-index: 1;
}
select {
  /* Remove the outline */
  background-color: transparent;
  text-align: center;
  padding-left: 1%;
  padding-right: 1%;
  width: 98%;
  outline-style: none;
  outline-width: 0px;
  outline: none;
}


#severity {
  /* other styles */
  background-color: transparent;
  text-align: center;
  padding-left: 1%;
  padding-right: 1%;
  width: 98%;
  outline-style: none;
  outline-width: 0px;
  outline: none;
  z-index: 100;
}

#severity option {
  /* other styles */
}

#severity option.low {
  color: green;
  height: 3vh;
}

#severity option.medium {
  color: orange;
}

#severity option.high {
  color: red;
}


.main-title {
  font-family: "Rajdhandi-Bold";
  font-size: 10vh;
  position: absolute;
  top: 50vh;
  left: 30vw;
  size: 15px;
  z-index: 0;
}

.secondary-title {
  border-color: black;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  font-family: "Rajdhandi-Bold";
  font-size: large;
  position: static;
  top: -10px;
  left: 10px;
  size: 10px;
  width: 42vw;
}

td {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background-clip: text;
  -webkit-background-clip: text;
  background-color: rgba(
    0,
    0,
    0,
    1
  ); /* set the background color of the text */
  color: transparent; /* make the text transparent */
  border-left: #212529;
  border-left-style: solid;
  border-left-width: 1px;
  border-bottom: #212529;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  padding-left: 5px;
  width: 9vw;
  word-break: break-word;
}

th {
  width: 9w; /* set the width of the table headers */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

table {
  table-layout: fixed;
  width: 100vw;
  z-index: 1;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.9);
  height: 2vh;
  position: fixed;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
  border-bottom-left-radius: 25px;
  padding: 20px;
  top: 0;
  width: 100vw;
  z-index: 100;
}



.navbar a {
  color: black;
  background-color: rgba(0, 0, 0, 0);
  text-decoration: none;
  margin-right: 1rem;
}

.navbar-black a{
  color: black ;
  transition: color 0.7s ease;

}
.navbar-white a{
  color: white;
  transition: color 0.7s ease;

}

.navbar-white{
  background-color: rgba(0, 0, 0, 0) !important;
}

.navbar .navbar-brand {
  font-size: 10rem;
  font-weight: Rajdhandi-Bold;
}

.navbar .navbar-menu {
  display: flex;
  align-items: center;
  flex-wrap: nowrap; /* prevent elements from wrapping */
  justify-content: flex-start; /* align elements to the left */
}

/* Navigation Bar - Responsive */
@media (max-width: 600px) {
  .navbar .navbar-menu {
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem;
  }
}

.custom-shape-divider-bottom-1674795481 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1674795481 svg {
  position: relative;
  display: block;
  width: calc(121% + 1.3px);
  height: 266px;
}

.custom-shape-divider-bottom-1674795481 .shape-fill {
  fill: #ffffff;
}

.bugImage {
  right: 0px;
  top: -50px;
  position: absolute;
  image-rendering: optimizeSpeed;
  opacity: 0.1;
  max-width: 130%;
  max-height: 130%;
  z-index: -1;
}

.fontC{
  font-family: Comfortaa;
  font-weight: bold;
  right: 1vw;
}
.computerImage{
  left: 7vw;
  position: absolute;
  image-rendering: optimizeSpeed;
  z-index: -1;
  bottom: -8vh;
  width: 28%;
  height: 50%;
  transform: rotate(28deg);
  animation: bob 2.4s ease-in-out infinite;
}
@keyframes bob {
  0% {
    transform: rotate(28deg);

    bottom: -8vh;
  }
  50% {
    transform: rotate(25deg);

    bottom: -10vh;
  }
  100% {
    transform: rotate(28deg);

    bottom: -8vh;
  }
}

.FormatTitle{
  text-align: right;
  width: 50vw;
  position: absolute;
  right: 1vw;
  top: 18vh;
  z-index: 2;
}

.secondPage{
  background-color: white;
  height: 130vh;
  width: 100vw;
  position: absolute;
  top: 98vh;
  z-index: 2;
}

.thirdPage{
  background-color: gray;
  height: 210vh;
  width: 100vw;
  position: absolute;
  top: 198vh;
  z-index: 0;
}

.custom-shape-divider-top-1674805785 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1674805785 svg {
  position: relative;
  display: block;
  width: calc(154% + 1.3px);
  height: 303px;
}

.custom-shape-divider-top-1674805785 .shape-fill {
  fill: #FFFFFF;
}

.custom-shape-divider-top-1674807117 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1674807117 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 76px;
}

.custom-shape-divider-top-1674807117 .shape-fill {
  fill: white;
}

.topLayer{
  z-index: 10;
}


.pageTwoTransitionOut{
  position: relative;
  top: 227.3vh;
  z-index: 10;
  fill: white;
}

@keyframes strech {
  0% {
    width: 200vw;
    left: 100vw;
    height: 10px;
    top: -8vh;
    position: absolute;
  }
  50% {
    width: 150vw;

    top: -10vh;
  }
  100% {
    width: 100vw;

    top: -8vh;
  }
}

.topFirstElement{
  animation: strech 2.4s ease-in-out infinite;
  fill: white;
}

.bugTrackerPage{
  background-color: white;
  width: 100vw;
  height: 300vh;
}

